.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

/* .App-header {
  background-color: #222;
  height: 30px;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: row;
} */

.TopNav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: rgb(255, 217, 102);
  align-items: center;
  padding: 5px;
}

.TopNav a {
  color: #FFFFFF;
  text-decoration: none;
  display: inherit;
  align-items: center;
}

.TopNav img {
  height: 30px;
  width: 30px;
  border-radius: 30px;
}

.App-container {
  padding: 5px;
  display: grid;
  grid-template-columns: 400px 600px;
  grid-gap: 10px;
}
/*
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
/*
body {
  background-image: url("/super.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
} */
